.passwordGenerator {
    width: 100%;
    background-color: var(--color-background);
    margin-block: 1rem;
    
}

.passwordGenerate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.passwordGenerate p {
    color: var(--color-password);
    font-weight: 500;
    font-size: 1.5rem;
}

.uil-copy {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.uil-copy:hover {
    color: var(--color-password);
}